# Supported DB types: postgresql, mysql, sqlite
# Choose your database type
DB_TYPE=postgresql

# Async driver for your database
# PostgreSQL: asyncpg, MySQL: aiomysql, SQLite: aiosqlite
DB_ASYNC_DRIVER=asyncpg

# Sync driver for your database
# PostgreSQL: psycopg2, MySQL: pymysql, SQLite: sqlite
DB_SYNC_DRIVER=psycopg2

# Database connection details
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=admin
DB_NAME=tubemood

# Other API keys
YOUTUBE_API_KEY="your_youtube_api_key_here"


