# Database Configuration
# =========================

# Supported DB types: postgresql, mysql, sqlite
DB_TYPE=postgresql   # Choose your database type

# Sync driver for your database
# PostgreSQL: psycopg2 | MySQL: pymysql | SQLite: sqlite3
DB_SYNC_DRIVER=psycopg2

# Database connection details
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=admin
DB_NAME=tubemood


# LLM Configuration
LLM_PROVIDER=openai  # openai, anthropic, etc.
# =========================

# Configuration Based on Selected provider

# Credentials
OPENAI_API_KEY=your_openai_key
OPENAI_API_BASE_URL=https://api.openai.com/v1

# Model settings
OPENAI_MODEL_ID=gpt-4o-mini
OPENAI_MAX_INPUT_CHARS=1024
OPENAI_MAX_OUTPUT_TOKENS=20
OPENAI_TEMPERATURE=0.0
OPENAI_INPUT_PRICING=0.00000015
OPENAI_OUTPUT_PRICING=0.0000006

# Cloud Storage Configuration
STORAGE_BACKEND=s3   # s3 | gcs
# =========================

# Configuration for the selected storage backend (AWS S3)

# Credentials
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1

# Storage Settings
S3_BUCKET_NAME=your_bucket_name


# Celery Configuration
# =========================
# Broker & Result
CELERY_BROKER_URL="ill add here cloud amqp"
CELERY_RESULT_BACKEND="ill add here upstash"

# Serialization
CELERY_TASK_SERIALIZER="json"

# Time limits
CELERY_TASK_TIME_LIMIT=7200  # 2h for training tasks, override for CPU tasks if needed

# ACK behavior
CELERY_TASK_ACKS_LATE=True

# CPU worker
CELERY_WORKER_CONCURRENCY_CPU=4

# GPU worker
CELERY_WORKER_CONCURRENCY_GPU=1