AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CELERY__BROKER_URL=redis://:ladybug_redis_2222@redis:6379/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:airflow@postgres/airflow
AIRFLOW__CORE__FERNET_KEY=J7QtP26mLdm06SynwGDNyejeEXoWsjYf75lkjDidXMQ=
AIRFLOW__WEBSERVER__WORKERS=2
AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Ryam
AIRFLOW_ADMIN_LASTNAME=Malki
AIRFLOW_ADMIN_EMAIL=ryam@example.com